# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
ENV/



# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
